<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MiniBiblio - Main</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css"
    />

    <link rel="stylesheet" href="/css/home_style.css" />
    <link rel="stylesheet" href="/css/button_style.css" />
  </head>
  <body>
    <div class="book-store">
      <div class="header"></div>
      <div class="book-slide">
        <div
          class="book js-flickity"
          data-flickity-options='{ "wrapAround": true }'
        ></div>
      </div>

      <div class="main-wrapper">
        <div class="main-menu">
          <a href="/modify-booklist-page">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Add Book(s)
          </a>
          <a href="/bookshelf">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            View Catalog
          </a>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Neon button
          </a>
        </div>
      </div>
    </div>
    <script src="/js/fetchHighlightedBooks.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>
